#headerText{
    background-color: 2D2E2C;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4vh;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    
}

#menuText{
    background-color: EBEFBF;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4vh;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}



header{
    display:grid;
}


header > div:nth-child(2){
    position:relative;
}


.bannerLogo{
    position:absolute;
    max-width:50%;
    left:25%;

}

.bannerPic{
    opacity: 0.5;
    max-width: 100%;
    height: auto;
}


.container{
    display:flex;
    flex-wrap: wrap;
    grid-auto-flow: row;
}

.container > div{

    flex: 1;
    min-width: 300px;

}

.contentPic{
    width:50vw;
    height: 50vh;
    object-fit: cover;
    
}

#contentText{
    background-color: EBEFBF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vh;
    display: flex;
    padding: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}


#picInside{
    max-width: 100%;
}


footer{
    padding: 20px;
    background-color: FEFFF3;
    display: flex;
    align-items: center;
    font-size: 3vh;
    flex-wrap: wrap;
}

footer > :first-child{
    max-width: 10%;
    height:auto;
}

.menuContent{
    display: grid;
    grid-auto-flow: column;
    gap: var(--size-3);
    overflow-x: auto;
    background-image: url(transparent\ bg.png);
}

.menuContent > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.menuItem{
    width: 25vh;
    height: 25vh;
    object-fit: cover;
    clip-path: circle();
}

.menuContent > div > p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    
}

@media (max-width: 768px) {
    .container {
        flex-direction: row;
    }

    .contentPic{
        width: 100vw;
    }
}


a:link {
  color: blue;
}


a:visited {
  color: purple;
}

a:hover {
  color: red;
}

a:active {
  color: orange;
}